*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(img/Screenshot_2024-06-10_134401-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain ;
    font-family: Poppins;
    margin: 0 4rem ;
}
.menu{
    display: flex;
    align-items: center;
}
.line {
    background-color: black;
    width: 1px;
    height: 20px;
}
.Menu{
    display: flex;
    gap: 2rem;
}
.Menu a{
    color: black;
    text-decoration: none;
}
