*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(img/Screenshot_2024-06-10_134401-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain ;
    font-family: Poppins;
    margin: 0 5rem ;
    overflow: hidden;
    position: relative;
}
.menu{
    display: flex;
    align-items: center;
}
.line {
    background-color: rgb(145, 143, 143);
    width: 1px;
    height: 12px;
}
#line1{
    margin: 0 1rem;
}
.Menu{
    display: flex;
    gap: 2rem;
}
.Menu a{
    color: black;
    text-decoration: none;
}
span{
    color: white;
    background-color: green;
    font-size: 24;
}
button{
    color: white;
    background-color: green;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 3cm;
    font-size: 10px;
}
.slim{
    font-size: 50px;
    font-weight: 300;
}
.sv{
    display: flex;
    justify-self: center;
    gap:0.5rem;
    margin-top: 2rem;
}
.svg{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.menu2{
    display: flex;
    margin-left: 32rem;
    gap: 1rem;
    align-items: center;
    font-size: 14px;
}
.silver{
    /* display: flex; */
    margin-left: 55rem;
    margin-top: -2rem;
    font-family: Haettenschweiler, sans-serif;
}
.shop{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 800;
}
.cent a{
    display:flex ;
    align-items: center;
}
a{
    font-size: 12px;
}
p{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.xr{
    font-size: 60px;
    font-weight: 600;
}
.lax{
    font-size: 60px;
    font-weight: 600;
}
.abstract{
    position: absolute;
    top: 12rem;
    right: 18rem;    
}
.goat{
    margin-top: 5rem;
}
.plant{
    color: green;
    font-size: 15px;
}
.fox{
    margin-top: 1rem;
}
